@model IEnumerable<Project_WerkenMetDatabase.Models.President>

<style>
    .table-hover tbody tr:hover td {
        background-color: lightblue;
    }

    .bold {
        text-decoration: none;
        color: black;
    }

        .bold:hover {
            text-decoration: none;
            color: black;
        }

        .bold:visited {
            text-decoration: none;
            color: black;
        }
</style>



<h1>Hello</h1>